# Django
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Virtual environment
venv/
env/
ENV/

# Media (uploaded images)
media/
!/media/.gitkeep   # create an empty folder media and put .gitkeep inside if you want

# Static files collected
staticfiles/

# Environment variables
.env
local_settings.py

# IDE
.idea/
.vscode/
*.sublime-*

# Mac
.DS_Store

# Logs
*.log